
$color-black: #000;
$color-off-white: #eaeaea;
$color-purple: #38003c;
$color-salmon: #e90052;
$color-salmon-shadow: rgba(168,0,59,1);
$color-white: #fff;

$font-default: Arial, Helvetica, sans-serif;